<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Contact us</title>
<!-- Bootstrap stylesheet -->
<link href="css/bootstrap1.css" rel="stylesheet" type="text/css">
<!--Font awesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- crousel css -->
<link href="js/owl.carousel.css" rel="stylesheet" type="text/css" />

<!--bootstrap select-->
<link href="css/bootstrap-select.css" rel="stylesheet" type="text/css" />
<!-- font -->
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700,800,900" rel="stylesheet">
<!-- font-awesome -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="css/ele-style.css" rel="stylesheet" type="text/css"/>
<!-- stylesheet -->
<link href="css/style1.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="css/header.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
<link href='style.css' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
</head>
<body>
    
<header class="main_h">

    <div class="row">
        <a class="logo" href="#">P/F</a>

        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/specification">Specification</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/whycassava">Why Cassava</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>

    </div> <!-- / row -->

</header>