<% include partials/header %>

<div class="bread-crumb">
	<img src="css/images/top-banner.jpg" class="img-responsive" alt="banner-top" title="banner-top">
	<div class="container">
		<div class="matter">
			<h2><span>Organic</span> Contact us</h2>
			<ul class="list-inline">
				<li>
					<a href="/home">HOME</a>
				</li>
				<li>
					<a href="../../html/organic_food/contactus.html">Contact us</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- bread-crumb end here -->
<!-- contactus start here -->
<div class="contactus">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 commontop text-center">
				<h4>
					<i class="icon_star_alt"></i>
					<i class="icon_star_alt"></i>
					<i class="icon_star_alt"></i> 
					Contact us
					<i class="icon_star_alt"></i>
					<i class="icon_star_alt"></i>
					<i class="icon_star_alt"></i>
				</h4>
			</div>
			<div class="col-sm-offset-2 col-md-8 col-sm-8  col-xs-12">
				<form name="myForm">
					<div class="form-group">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="text" name="name" value="" id="input-name" class="form-control" placeholder="Name *" required="true">
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="email" name="email" value="" id="input-email" class="form-control" placeholder="Email *" required="true"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<input type="text" name="subject" value="" id="input-subject" class="form-control" placeholder="Subject *" required="true">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12 col-md-12 col-xs-12">
							<i class="icofont icofont-pencil-alt-5"></i>
							<textarea name="enquiry" id="input-enquiry" value="" class="form-control" placeholder="Your Comment"></textarea>
						</div>
					</div>
					<div class="buttons text-right">
						<input class="btn btn-primary" id="contact_us" type="submit" onclick="validateForm()" value="Send Message" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- contactus end here -->
<!-- address start here -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="address">
				<ul class="list-inline">
					<li>
						<i class="fa fa-map-marker"></i>
						509, Ramar Thottam.Esaparai
<br>Nagalur, Erode, <br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Tamilnadu - 638502
					</li>
					<li>

						<i class="fa fa-mobile"></i>
						Office: 8903938288
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<!-- address end here -->
<!-- map start here -->
<div class="map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5714.293886422316!2d77.53715418242307!3d11.587552939807821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1556808175208!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<!-- map end here -->
<!-- footer start here -->
<% include partials/footer %>