<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body{
	 background: url(auceg1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:'HelveticaNeue','Arial', sans-serif;

}
.button { 


    
    
	
    background-size:cover;
    border: none;
    color: white;
    cursor: pointer;
    background-color: DodgerBlue;
    background-color: RoyalBlue;
    padding: 15px 32px;
    text-align: center;
    position: relative ;
    text-decoration: none;
    size: 30px;
    font-size:50px;
    width: 20%;
    height: 30%;
    margin: 20px 30px;
    cursor: pointer;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 20px;
}

.btn:hover { background-color: RoyalBlue;

 }
</style>
</head>
<body>


</style>
</head>
<body>

<h1>LOGIN HOME</h1><br><br><br><br><br><br>
<center>
<form name="gdf" action="/scholarlogin" method="post">
<button type="submit" class="button">USER LOGIN<i class="fa fa-user"></i></button>
</form>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<form name="gdf" action="/adminlogin" method="post">
<button type="submit" class="button">ADMIN LOGIN<i class="fa fa-user"></i></button>
</center>
</form>
</body>
</html>

