<% include partials/header %>
<div class="slide" > 
  <div class="slideshow owl-carousel">  
    <div class="item">
      <img src="slider/1.JPG" alt="banner" title="banner" class="img-responsive"/>
    </div>
    <div class="item">
      <img src="slider/2.JPG" alt="banner" title="banner" class="img-responsive"/>
    </div>
    <div class="item">
      <img src="slider/3.JPG" alt="banner" title="banner" class="img-responsive"/>
    </div>
    <iv class="item">
      <img src="slider/4.JPG" alt="banner" title="banner" class="img-responsive"/>
    </div>
  </div>
</div>


<!-- bread-crumb end here -->
<!-- organic start here -->
<div class="organic">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 commontop text-center">
        <h4>
          <i class="icon_star_alt"></i>
          <i class="icon_star_alt"></i>
          <i class="icon_star_alt"></i> 
          Welcome to Blossoms Agro
          <i class="icon_star_alt"></i>
          <i class="icon_star_alt"></i>
          <i class="icon_star_alt"></i>
        </h4>
        <p>Pellentesque sed posuere nisi. Nunc nec looreet mauris. Etiam valutpat ligula eu lacus varius scelerisque. Morbi fringilla euismod semper.</p>
      </div>
      <div class="col-lg-6 col-xs-12">
        <h4>Blossoms Agro Exports</h4>
        <p class="des">Blossom Agro Exports established in 2011, Blossom Agro Exports has gained immense expertise in supplying & trading various Agro produce. This company is mainly focused on selling food grade unfermented high quality cassava flour (HQCF) and cassava starch for food and industrial applications. The company is located in Erode, Tamil Nadu and is one of the leading sellers of food grade high quality cassava flour. .</p>
      </div>
      <div class="col-lg-6">
        <img src="css/images/Logo/blossomlogo.jpg">
      </div>
      
      
    </div>
  </div>
</div>
<!-- About us end here -->

<!-- shipping start here -->
<div class="shipping">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
        <div class="box">
          <img class="img-responsive" src="css/images/header1/icon1.png" alt="icon" title="icon">
          <h4>We Support 24/7</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
        <div class="box">
          <img class="img-responsive" src="css/images/header1/icon2.png" alt="icon" title="icon">
          <h4>Daily Updates</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
        <div class="box">
          <img class="img-responsive" src="css/images/header1/icon3.png" alt="icon" title="icon">
          <h4>Free Shipping</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- shipping end here -->
<!-- footer start here -->
<% include partials/footer %>