
<link href="loginuser.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<html>
  <head>

  <link href="loginuser.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script>
    function validateform(){
     var user=document.forms["loginuser"]
     ["lguser"].value;
     var ulen=user.length;
     var pass=document.forms["loginuser"]
     ["lgpass"].value;
     var plen=pass.length;
    if( user == "" || pass =="" || user == " " || pass ==" " )
     { alert("Enter the details correctly");
    return false;}  
   if(ulen > 20 || plen > 20)
    {alert("Characters exceeds limit 20");
    return false;
    }  
    }
  </script>
  </head>
<body id="LoginForm">
<div class="container">
<center><h1 class="form-heading">DEPARTMENT OF INFORMATION SCIENCE AND TECHNOLOGY</h1></center>
<br><br>
<div class="login-form">
<div class="main-div">
    <div class="panel">
   <span> <%= message %> </span>
   <h3>User Login</h3>
   
   </div>
   <br>
    <form id="Login"  name="loginuser" onsubmit="return validateform()" action="/profile"   method="post" >

       <div class="form-group">

        
            <input type="text" class="form-control"  name="lguser"  id="inputEmail" placeholder=" User Id">


        </div>


        <div class="form-group">

            <input type="password" class="form-control" name="lgpass"  id="inputPassword" placeholder=" Password">

        </div><br>
        <div class="forgot">
        <a href="res.html" ><b>Forgot password?<b></a>
</div>
        <button type="submit"  class="btn btn-primary"><b>Login<b></button><br>
        <br><br>
        
        

    </form>
    <form id="signup"  name="signupuser" action="/signup"
     method="post" >
      <button type="submit"  class="btn btn-primary"><b>Sign up<b></button><br>
  </form>
    </div>
   
</div></div></div>


</body>
</html>

