<html>
<link href="sch.css" rel="stylesheet" id="bootstrap-css">
<script src="sch.js"></script>
<script src="sch.js"></script>
<!------ Include the above in your HEAD tag ---------->


</head>
<body>
<div id="formWrapper">

<div id="form">
<div class="logo">
<h1 class="text-center head">Supervisior LOGIN</h1>
</div>
<form name="pq"  action="/proo" method="post">
<div class="form-item">
			
			<div class="form-item">
				
			Enter the SCHOLAR ID:<br><br>
<input type="text" name="reg" id="fn" class="form-style" autocomplete="off"/>
		</div>
		<div class="form-item">
<div class="form-item">
				
		
	<center><input type="submit" class="enter" value="ENTER">
		<div class="clear-fix"></div>
		</div></center>
	</div></form>
	
</div>
</div>

</body>
</html>
