<% include partials/header %>
<div class="slide"> 
  <div class="slideshow owl-carousel">
    <div class="item">
      <img src="slider/1.JPG" alt="banner" title="banner" class="img-responsive"/>
    </div>
    <div class="item">
      <img src="slider/2.JPG" alt="banner" title="banner" class="img-responsive"/>
    </div>
    <div class="item">
      <img src="slider/3.JPG" alt="banner" title="banner" class="img-responsive"/>
    </div>
    <iv class="item">
      <img src="slider/4.JPG" alt="banner" title="banner" class="img-responsive"/>
    </div>
  </div>
</div>
<!-- slider end here -->
<!-- product start here -->
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 commontop text-center">
      <p>Fresh Foods</p>
      <h4>
        <i class="icon_star_alt"></i>
        <i class="icon_star_alt"></i>
        <i class="icon_star_alt"></i> 
        Our products
        <i class="icon_star_alt"></i>
        <i class="icon_star_alt"></i>
        <i class="icon_star_alt"></i>
      </h4>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
      <ul class="nav nav-tabs list-inline">
        <li class="active">
          <a href="#cassavaflour" data-toggle="tab" aria-expanded="true">HQCF <span>Cassava Flour</span></a>
        </li>
        <li class="">
          <a href="#cassavastarch" data-toggle="tab" aria-expanded="false">Cassava <span>Starch</span></a>
        </li>
        
      </ul>
      <div  class="tab-content">
        <div class="tab-pane active" id="cassavaflour">
          <div class="row">
            

            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 product-grid">
                <div class="product-thumb">
                <div class="image">
                  <a class="rec-fill front front--slide-left" href="html/organic_food/shop.html"><img src="css/images/products/cassava1.jpg" alt="image" title="image" class="img-responsive" /></a>
                  <a class="rec-fill back back--slide-left" href="html/organic_food/shop.html"><img src="css/images/products/cassava1.jpg" alt="image" title="image" class="img-responsive" /></a>
                  <div class="sale"><p>Sale</p></div>
                  
                </div>
                <div class="caption">
                  <h4><a href="html/organic_food/shop.html">High Quality Cassava Flour</a></h4>
                  <p class="price"><span class="price-old">$99.00</span> $90.00</p>
                </div>
              </div>  
              </div>
              <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12 product-grid" style="overflow-y: scroll; height:420px;">
                <p>HQCF is an improved cassava flour produced using a non-traditional processing technique. It is a non-fermented, white, smooth and odorless cassava flour processed from freshly harvested roots. Detoxification is primarily achieved through the grating, dewatering, and drying process and free from fermentation. This is obtained through a process of peeling, washing, grating, pressing and drying. The major difference between traditional cassava flour and high quality food grade cassava flour is given in the process flow chart with detailed unit operations followed.</p>
              </div>
           
            
            
            
            
          
          </div>
        </div>
        <div class="tab-pane" id="cassavastarch">
          <div class="row">
            
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 product-grid" >
              <div class="product-thumb">
                <div class="image">
                  <a class="rec-fill front front--slide-left" href="html/organic_food/shop.html"><img src="css/images/products/cassava2.jpg" alt="image" title="image" class="img-responsive" /></a>
                  <a class="rec-fill back back--slide-left" href="html/organic_food/shop.html"><img src="css/images/products/cassava2.jpg" alt="image" title="image" class="img-responsive" /></a>
                  <div class="sale"><p>Sale</p></div>
                 
                </div>
                <div class="caption">
                  <h4><a href="html/organic_food/shop.html">Cassava Starch</a></h4>
                  <p class="price"><span class="price-old">$99.00</span> $90.00</p>
                </div>
              </div>  
            </div>
             <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12 product-grid" style="overflow-y: scroll; height:420px;">
                <p>The native cassava starch is used in the food industry for production of sausage, monosodium glutamate (MSG), glucose and bakery products, whereas modified cassava starch is used for textile, glue, paper, plywood and the pharmaceutical industry. The process for production for native cassava starch is given in the flow chart.</p>
              </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer start here -->
<% include partials/footer %>