<link href="login.css" rel="stylesheet" id="bootstrap-css">
<script src="login.js"></script>
<script src="login.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="login.js" ></script>
<body>
<div id="formWrapper">

<div id="form">
<div class="logo">
<h1 class="text-center head">PROFILE</h1>
</div>
	<form name="reg1" action="/addapro" method="post">
<div class="form-item">
				
			<div class="form-item">
				
			Name of the Research Scholar:<br><br>
<input type="text" name="fn" id="fn" class="form-style" autocomplete="off"placeholder="Name of the Research Scholar"/>
		</div>
		<div class="form-item">
<div class="form-item">
				
			Registration Number:<br><br>
<input type="text" name="rn" id="fn" class="form-style" autocomplete="off"placeholder="Registration Number"/>
		</div>
			<div class="form-item">
				
			Password:<br><br>
<input type="password" name="ps" id="ps" class="form-style" autocomplete="off"/>
		</div>
			Date Of Birth:<br><br>

<input type="date" name="dob" id="dob" class="form-style"placeholder="Date Of Birth" />
			<!-- <div class="pw-view"><i class="fa fa-eye"></i></div> -->
				
		</div>
<div class="form-item">
			
			Date Of Joining:<br><br>

<input type="date" name="doj" id="doj" class="form-style"placeholder="Date Of Joining" />
			<!-- <div class="pw-view"><i class="fa fa-eye"></i></div> -->
				
		</div>
<div class="form-item">
				
			Father's name/Husband's name:<br><br>
<input type="text" name="fsn" id="fn" class="form-style" autocomplete="off"placeholder="Father's name/Husband's name"/>
		</div>
                <div class="form-item">
				
			Education:<br><br>
<input type="text" name="edu" id="edu" class="form-style" autocomplete="off"placeholder="Education"/>
		</div>
<div class="form-item">
				
			Gender:<br><br>
  <input type="radio" name="gender" value="male" checked> Male<br><br>
  <input type="radio" name="gender" value="female"> Female<br><br>
  <input type="radio" name="gender" value="other"> Other  
		</div>
                <div class="form-item">
				
			Mobile Number:<br><br>
<input type="text" name="phno" id="phno" class="form-style" autocomplete="off"placeholder="Mobile number"/>
		</div>

                <div class="form-item">
 <div class="form-item">
				
			Email Address:<br><br>
<input type="email" name="emai" id="emai" class="form-style" autocomplete="off"placeholder="Email Address"/>
		</div>
<div class="form-item">			
			Present Address:<br><br>
<textarea rows="5" cols="60" name="paddress" class="form-style" placeholder="enter your present address"></textarea>		</div>
 <div class="form-item">
				
			Permanent Address:<br><br>
<textarea rows="5" cols="60" name="peaddress" class="form-style" placeholder="enter your permanent address"></textarea>		</div>
		<div class="form-item">
		
		<center><input type="submit" class="login" value="ADD PROFESSIONAL QUALIFICATION">
		<div class="clear-fix"></div>
		</div></center>
</div>
</div>
</form>
</body>
</html>
