<link href="login.css" rel="stylesheet" id="bootstrap-css">
<script src="login.js"></script>
<script src="login.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="login.js" ></script>
<body>
<div id="formWrapper">

<div id="form">
<div class="logo">
<h1 class="text-center head">PROFESSIONAL QUALIFICATION</h1>
</div>
	<form name="reg2" action="/addapd" method="post"><div class="form-item">
				
			Research topic:<br><br>
<input type="text" name="rt" id="email" class="form-style" autocomplete="off"placeholder="research title"/>
		</div>
		<div class="form-item">
Research Abstract(Maximum 190 words):<br><br>
<textarea rows="13" cols="60" name="ra" class="form-style" placeholder="Research Abstract"></textarea>		</div>
 <div class="form-item">
			
			
			<!-- <div class="pw-view"><i class="fa fa-eye"></i></div> -->
				
		</div>
 <div class="form-item">
				
			<b><i> Details of Research Fellowships/Scholarships</b></i>:<br><br><br><br>
			 Name of the Fellowship/Scholarship:<br><br>
<input type="text" name="fs" id="fs" class="form-style" autocomplete="off"placeholder="Fellowship/Scholarship"/>
		</div>
 <div class="form-item">
				
			Awarded/Awarding Body:<br><br>
<input type="text" name="ab" id="ab" class="form-style" autocomplete="off"placeholder="Awarded/Awarding Body"/>
		</div>
<div class="form-item">
                        <b><i>Details of Experience in years</i></b>:<br><br><br><br>
                        Teaching:<br><br>
<input type="text" name="tch" id="tch" class="form-style" autocomplete="off"placeholder="Teaching"/>
		</div>
<div class="form-item">
				
			Industry:<br><br>
<input type="text" name="ind" id="ind" class="form-style" autocomplete="off"placeholder="Industry"/>
		</div>
<div class="form-item">
			Research:<br><br>
<input type="text" name="res" id="res" class="form-style" autocomplete="off"placeholder="Research"/>
		</div>
                <div class="form-item">
				
			<b><i>Number of papers presented in Seminars/Conferences/Workshops/Journals</i></b>:<br><br>
			National Seminars:<br><br>
<input type="text" name="ns" id="ns" class="form-style" autocomplete="off"placeholder="National Seminars"/>
		</div>
 <div class="form-item">
				
			International Seminars:<br><br>
<input type="text" name="is" id="is" class="form-style" autocomplete="off"placeholder="International Seminars"/>
		</div>
 <div class="form-item">
				
			National Journals:<br><br>
<input type="text" name="nj" id="nj" class="form-style" autocomplete="off"placeholder="National Journals"/>
		</div>
<div class="form-item">
				
			National Conferences:<br><br>
<input type="text" name="nc" id="nc" class="form-style" autocomplete="off"placeholder="National Conferences"/>
		</div>
<div class="form-item">
				
			International Conferences:<br><br>
<input type="text" name="ic" id="ic" class="form-style" autocomplete="off"placeholder="International Conferences"/>
		</div>
<div class="form-item">
				
			International Journals:<br><br>
<input type="text" name="ij" id="ij" class="form-style" autocomplete="off"placeholder="International Journals"/>
		</div>
<div class="form-item">
				
			National Workshops:<br><br>
<input type="text" name="nw" id="nw" class="form-style" autocomplete="off"placeholder="National Workshops"/>
		</div>
<div class="form-item">
				
			International Workshops:<br><br>
<input type="text" name="iw" id="iw" class="form-style" autocomplete="off"placeholder="International Workshops"/>
		</div>
<div class="form-item">
				
			Others:<br><br>
<input type="text" name="ot" id="ot" class="form-style" autocomplete="off"placeholder="Others"/>
		</div>
<div class="form-item">
				
			<b><i>Conferences/Seminars/Workshops/Trainings/Short Courses Attended or participated</b></i>:<br><br>
				International Seminars:<br><br>
<input type="text" name="ise" id="ise" class="form-style" autocomplete="off"placeholder="International Seminars"/>
		</div>
<div class="form-item">
				
			National Seminars:<br><br>
<input type="text" name="nse" id="nse" class="form-style" autocomplete="off"placeholder="National Seminars"/>
		</div>
<div class="form-item">
				
			National Conferences:<br><br>
<input type="text" name="ncs" id="ncs" class="form-style" autocomplete="off"placeholder="National Conferences"/>
		</div>
<div class="form-item">
				
			International Conferences:<br><br>
<input type="text" name="ics" id="ics" class="form-style" autocomplete="off"placeholder="International Conferences"/>
		</div>
<div class="form-item">
				
			National Workshops:<br><br>
<input type="text" name="nws" id="nws" class="form-style" autocomplete="off"placeholder="National Workshops"/>
		</div>
<div class="form-item">
				
			International Workshops:<br><br>
<input type="text" name="iws" id="iws" class="form-style" autocomplete="off"placeholder="International Workshops"/>
		</div>
                
                <div class="form-item">
		
		<center><input type="submit" class="login" value="Research Supervisor Details">
		<div class="clear-fix"></div>
		</div></center>
</div>
</div>
</form>
</body>
</html>
