<link href="login.css" rel="stylesheet" id="bootstrap-css">
<script src="login.js"></script>
<script src="login.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="login.js" ></script>
<body>
<div id="formWrapper">

<div id="form">
<div class="logo">
<h1 class="text-center head">Research Supervisor Details</h1>
</div>
	<form name="reg3" action="/addup" method="post"><div class="form-item">
				
			Name of the Research Supervisor:<br><br>
<input type="text" name="rs" id="rs" class="form-style" autocomplete="off"placeholder="Name of the Research Supervisor"/>
		</div>
<div class="form-item">			
			Communication Address:<br><br>
<textarea rows="5" cols="60" name="caddress" class="form-style" placeholder="Enter Communication Address"></textarea>		</div>
		
                <div class="form-item">
				
			Telephone Number:<br><br>
<input type="text" name="tn" id="tn" class="form-style" autocomplete="off"placeholder="Telephone Number"/>
		</div>
                <div class="form-item">
				
			Mobile:<br><br>
<input type="text" name="mb" id="mb" class="form-style" autocomplete="off"placeholder="Mobile"/>
		</div>
                <div class="form-item">
				
			Email Address:<br><br>
<input type="email" name="ea" id="ea" class="form-style" autocomplete="off"placeholder="Email Address"/>
		</div>
               
		<div class="form-item">
		
		<center><input type="submit" class="login" value="INSERT DETAILS">
		<div class="clear-fix"></div>
		</div></center>
</div>
</div>
</form>
</body>
</html>
