<html>
<link href="sch.css" rel="stylesheet" id="bootstrap-css">
<script src="sch.js"></script>
<script src="sch.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="sch.js" ></script>
<head>
	<script>
    function validateform(){
     var user=document.forms["pq"]
     ["lguser"].value;
     var ulen=user.length;
     var pass=document.forms["pq"]
     ["lgpass"].value;
     var plen=pass.length;
    if( user == "" || pass =="" || user == " " || pass ==" " )
     { alert("Enter the details correctly");
    return false;}  
   if(ulen > 20 || plen > 20)
    {alert("Characters exceeds limit 20");
    return false;
    }  
    }
  </script>
</head>
<body>
<div id="formWrapper">

<div id="form">
<div class="logo">
<h1 class="text-center head">SCHOLAR LOGIN</h1>
</div>
<center><h3><span> <%= message %> </span></h3></center>
	<form name="pq" action="/profile" onsubmit="return validateform()" method="post">
<div class="form-item">
			
			<div class="form-item">
				
			SCHOLAR ID:<br><br>
<input type="text" name="lguser" id="fn" class="form-style" autocomplete="off"placeholder="Name of the Research Scholar"/>
		</div>
		<div class="form-item">
<div class="form-item">
				
			PASSWORD:<br><br>
<input type="password" name="lgpass" id="fn" class="form-style" autocomplete="off"placeholder="DOB as DD-MM-YYYY"/>
		</div>
	<center><input type="submit" class="login" value="LOGIN">
		<div class="clear-fix"></div>
		</div></center>
	</div></form>
	   <form name="pq1" action="/signup" method="post">
<div class="form-item">
		<center><input type="submit" class="login" value="SIGNUP">
		<div class="clear-fix"></div>
		</div></center>
		</form>	
			
</div>
</div>

</body>
</html>
