<html>
<link href="signupad.css" rel="stylesheet" id="bootstrap-css">
<script src="signupad.js"></script>
<script src="signupad.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="login.js" ></script>
<head>
	<script >
		function email(){
			var string=document.forms["reg3"]
     ["adminemail"].value;
     if(!(/@auist\.net$/.test(string))){
     	 alert("Email is invalid");
         return false;
     }
		}
	</script>
</head>
<body>
<div id="formWrapper">

<div id="form">
<div class="logo">
<h1 class="text-center head">ADMIN SIGNUP</h1>
</div>
	<form name="reg3" action="/adsign" onsubmit="return email()" method="post">
<div class="form-item">
				
			Name Of The Admin:<br><br>
<input type="text" name="adminname" id="rs" class="form-style" autocomplete="off"
placeholder="Name of the admin"/>
		</div>                
   <div class="form-item">
				
			Email Address:<br><br>
<input type="text" name="adminemail" id="ea" class="form-style" autocomplete="off"placeholder="example@auist.net"/>
		</div>
   <div class="form-item">
				
			Password:<br><br>
<input type="password" name="adminpassword" id="ep" class="form-style" autocomplete="off" placeholder="Enter the Password"/>
		</div>
 
               
		<div class="form-item">
		
		<center><input type="submit" class="login" value="REGISTER AS ADMIN">
		<div class="clear-fix"></div>
		</div></center>
</div>
</div>
</form>
</body>
</html>

