<% include partials/header %>
<div class="slide"> 
  <div class="slideshow owl-carousel">
    <div class="item">
      <img src="slider/1.JPG" alt="banner" title="banner" class="img-responsive"/>
    </div>
    <div class="item">
      <img src="slider/2.JPG" alt="banner" title="banner" class="img-responsive"/>
    </div>
    <div class="item">
      <img src="slider/3.JPG" alt="banner" title="banner" class="img-responsive"/>
    </div>
    <iv class="item">
      <img src="slider/4.JPG" alt="banner" title="banner" class="img-responsive"/>
    </div>
  </div>
</div>
<!-- slider end here -->
<!-- product start here -->
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 commontop text-center">
      <p>Fresh Foods</p>
      <h4>
        <i class="icon_star_alt"></i>
        <i class="icon_star_alt"></i>
        <i class="icon_star_alt"></i> 
        Our products
        <i class="icon_star_alt"></i>
        <i class="icon_star_alt"></i>
        <i class="icon_star_alt"></i>
      </h4>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
      <ul class="nav nav-tabs list-inline">
        <li class="active">
          <a href="#cassavaflour" data-toggle="tab" aria-expanded="true">HQCF <span>Cassava Flour</span></a>
        </li>
        <li class="">
          <a href="#cassavastarch" data-toggle="tab" aria-expanded="false">Cassava <span>Starch</span></a>
        </li>
        
      </ul>
      <div  class="tab-content">
        <div class="tab-pane active" id="cassavaflour">
          <div class="row">
            

              <div class="col-md-8 col-lg-12 col-sm-4 col-xs-12 product-grid">
                <table >
                <tr>
                  <th>S.no</th>
                  <th>Characteristics</th>
                  <th>Max Range(%)</th>
                </tr>
                <tr>
                  <th>1</th>
                  <th>Moisture, (% by weight), Max</th>
                  <th>13.0</th>
                </tr>
                <tr>
                  <th>2</th>
                  <th>Total ash (on dry basis), (% by weight), Max </th>
                  <th>1.80</th>
                </tr>
                <tr>
                  <th>3</th>
                  <th>Acid insoluble ash (on dry basis), (% by weight), Max</th>
                  <th>0.10</th>
                </tr>
                <tr>
                  <th>4</th>
                  <th>Starch (on dry basis), (% by weight), Min </th>
                  <th>72.0</th>
                </tr>
                <tr>
                  <th>5</th>
                  <th>Crude Fibre (on dry basis), (% by weight), Max </th>
                  <th>2.10</th>
                </tr>
                 <tr>
                  <th>6</th>
                  <th>pH of aqueous extract </th>
                  <th>4.5to</th>
                </tr>
                 <tr>
                  <th>7</th>
                  <th>Cold water solubles (on dry basis), (% by weight), Max </th>
                  <th>11.0</th>
                </tr>
                </table><br>
                <center>
                <img src="css/images/cassavaflour.png"></center>
              </div>
           
            
            
            
            
          
          </div>
        </div>
        <div class="tab-pane" id="cassavastarch">
          <div class="row">
             <div class="col-md-8 col-lg-12 col-sm-4 col-xs-12 product-grid">
                <table >
                <tr>
                  <th>S.no</th>
                  <th>Characteristics</th>
                  <th>Max Range(%)</th>
                </tr>
                <tr>
                  <th>1</th>
                  <th>Moisture, percentage by weight, Max</th>
                  <th>12.5</th>
                </tr>
                <tr>
                  <th>2</th>
                  <th>Total ash (on dry basis), percentage by weight, Max</th>
                  <th>0.50</th>
                </tr>
                <tr>
                  <th>3</th>
                  <th>Acid insoluble ash (on dry basis), percentage by weight, Max</th>
                  <th>0.05</th>
                </tr>
                <tr>
                  <th>4</th>
                  <th>Starch (on dry basis), percentage by weight, Min </th>
                  <th>98.00</th>
                </tr>
                <tr>
                  <th>5</th>
                  <th>Protein (on dry basis) percent by weight Max.</th>
                  <th>0.30</th>
                </tr>
                 <tr>
                  <th>6</th>
                  <th>Sulphur di oxide, ppm max </th>
                  <th>100</th>
                </tr>
                 <tr>
                  <th>7</th>
                  <th>Crude fibre (on dry basis), percentage by weight, Max </th>
                  <th>0.20</th>
                </tr>
                <tr>
                  <th>8</th>
                  <th>pH of aqueous extract </th>
                  <th>4.5 to 7</th>
                </tr>
                 <tr>
                  <th>9</th>
                  <th>Cold water solubles (on dry basis), percentage by weight, Max </th>
                  <th>0.70</th>
                </tr>
                </table><br>
                <center>
                <img src="css/images/cassavastarch.png"></center>

              </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer start here -->
<% include partials/footer %>