<% include partials/header %>
<!-- header end here -->
<!-- bread-crumb start here -->
<div class="bread-crumb">
	<img src="css/images/top-banner.jpg" class="img-responsive" alt="banner-top" title="banner-top">
	<div class="container">
		<div class="matter">
			<h2><span>Organic</span> About us</h2>
			<ul class="list-inline">
				<li>
					<a href="../../html/organic_food/index.html">HOME</a>
				</li>
				<li>
					<a href="../../html/organic_food/aboutus.html">About us</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- bread-crumb end here -->
<!-- organic start here -->
<div class="organic">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 commontop text-center">
				<h4>
					<i class="icon_star_alt"></i>
					<i class="icon_star_alt"></i>
					<i class="icon_star_alt"></i> 
					Welcome to Blossoms Agro
					<i class="icon_star_alt"></i>
					<i class="icon_star_alt"></i>
					<i class="icon_star_alt"></i>
				</h4>
				<p>Pellentesque sed posuere nisi. Nunc nec looreet mauris. Etiam valutpat ligula eu lacus varius scelerisque. Morbi fringilla euismod semper.</p>
			</div>
			<div class="col-md-6 col-sm-4 col-lg-8 col-xs-12">
				<h4>Cassava </h4>
				<p class="des">Cassava (Manihot esculenta Crantz) is one of the major tuber crops locally called as Tapioca and cultivated in tropical and subtropical regions of the world. The dried cassava tubers consists of about 80 to 90% carbohydrate, out of which the most important is starch which ranges from 78 to 90% on dry basis. It is also considered as a good source for minerals such as calcium, iron, magnesium and phosphorus and is richer in calorific value compared to other tubers such as yam, potato and sweet potato. It has nearly the same calorific value as cereals viz., wheat, rice and maize It is the third largest source of carbohydrates after rice and wheat for people all over the world and the starch content of cassava tubers varies according to varieties. 
Cassava has emerged as a commercial crop in India as well as other Asian countries. In India, it is cultivated about 0.20 Million hectares with a total production of 8.13 Million Tonnes and a productivity of 22.3 Metric Tonnes per hectare. In India, cassava starch is a major industrial starch and a large portion of this used for sago production. The native and different modified forms of cassava starch is used as a base material for an array of processed products viz., sago, dextrin, glucose, core binder, stabilizer, adhesives, sizing yarns and as thickener for printing clothes                          (Sheriff et al., 2005). Processing of cassava starch is an easy process compared to that of cereal starches because of the presence of relatively small amount of non-starchy substances in the cassava tubers.</p>
			</div>
			<div class="col-lg-4">
				<img src="css/images/header1/blog3.png">
			</div>
			
		</div>
	</div>
</div>
<!-- organic end here -->




<!-- footer start here -->
<% include partials/footer %>